// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
$gray: #607b88;

 body {
   background: $gray; // Using this variable
 }

 .banner {
  background: #61D095;
  h1 {
    font-size: 40px;
  }
}